html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(184, 233, 235);
    margin: 0;
}

.content {
    padding: 6px 16px;
}

.enemy_data_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-style: italic;
    font-weight: 800;
    font-size: 56px;
    text-align: center;
    color: #9e5e2e;
}

.navbar {
    overflow: hidden;
    background-color: black;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 18px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(68, 36, 36);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.card {
    margin: 16px 20px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #19102b;
    background-color: rgb(214, 230, 230);
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 9px;
}

#container {
    padding: 16px 16px;
}

.download {
    padding: 6px 8px;
    border-radius: 4px;
    border-width: 3px;
    border-style: solid;
    background-color: #def1f4;
    font-family: Verdana;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.download:hover {
    background-color: #c6c2ce;
}

.badge_beta {
    background-color: #477279;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

.badge_minor {
    background-color: #c74b0e;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}

.badge_major {
    background-color: #ea8756;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}